.btn-custom {
    background: linear-gradient(to right, #2878fa, #6e4ff9,#bc51f6); /* Gradient */
    color: white;
  
  }

  .btn-custom2 {
    border: 3px solid #bc51f6;
    color: black;
    border-radius: 20px;
  
  }
  
  .btn-custom:hover {
    background-color: #c237de; 
   
  }
.interes {
    background: linear-gradient(to right, #2878fa, #6e4ff9,#bc51f6); /* Gradient */
    color: white;
  
  }

.degradadoPerfil{
  background: linear-gradient(to bottom, #f5abff, #F3D1FF, #FFFFFF 30rem); /* Gradient */
}

.miPerfil{
  color: linear-gradient(to right, #2878fa, #6e4ff9,#bc51f6); /* Gradient */
}

.Transparencia{
  background: rgba(0, 0, 0, 0.5); /* Black transparent */
  color: white;
}

.Transparencia2{
  background: rgba(0, 0, 0, 0.3); /* Black transparent */
  color: white;
}

.botonTransparente{
  background: rgba(255, 255, 255, 0.2); /* Black transparent */
  color: white;
  border: .5px solid white;
}
.Morado{
  background: #bc51f6; /* Gradient */
  color: white;
}

.divBorder{
  border: 2px dashed #bc51f6;
  color: #ffffff;
  
}
.texto{
  color: #bc51f6;
}

.btn-off{
  border: 2px solid #bc51f6;
  color: black;
}

.botonAsistir{
  background: white;
  color:black;

}

/* JUAS JUAS ESTILOS DE verPerfil*/
.btnAzul{
  background: #A4CCF8; /* Gradient */
  color: white;
}

.btnRosa{
  background: #E3A4F8; /* Gradient */
  color: white;
}


.btnVerde{
  background: #87d480; /* Gradient */
  color: white;
}

.btnTransparente {
  background: rgba(89, 89, 89, 0.5); /* Gray transparent */
  color: rgb(255, 255, 255);
  border: node;
}

.btnRed{
  color:red;
}

/*Estilos de favoritos*/
.Caja{
  background-color: #F5F6F8;
}

.fondoFavorito{
  background-color: #B87BE2;
}

.colorRosa{
 color: #843db3;
}


/*Estilos de Guardados*/
.botonMatch{
  
  background-color: #BA6FEC;
  color: white;
}

.cancelarMatch{
  background-color: #C689EE;
  color: black;
}


.BuscarMatch{

  color: #BA6FEC;
  text-decoration: solid;
  border-bottom: 2px solid #C689EE;
}

.Capturar{

  background-color: none;
  border: 3px solid #C689EE;
}


.rojo{
  color:rgb(216, 0, 0)
}

.morado{
  color:#a333ff
}

.TransparenciaFoto{
  background-color: rgba(123, 56, 255, 0.5); /* Black transparent */
  color: white;
  background-blend-mode: color; /* Blend mode to apply color */
}

.barraPorciento{
  background: linear-gradient(to right, #2878fa, #6e4ff9,#bc51f6); 
}

.btn-inactive{
  background-color: none;
  border: 1.5px solid #9433D5;
  color: #000000;
}

.btn-active{
  background: #df7fff; 
  color: #ffffff;
  border:1.5px solid #bc51f6;
}


.botonLink{
  color: #2878fa;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Adjust as needed */
  height: calc(100% - 4rem); /* Subtract the height of the BottomNav (4rem) */
  padding: auto;
  overflow-y: auto; /* Add scrolling if content overflows */
}



.mensajesBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Adjust as needed */
  height: calc(100% - 4rem); /* Subtract the height of the BottomNav (4rem) */
  padding: auto;
  overflow-y: auto; /* Add scrolling if content overflows */
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 28px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(22px);
}



/* Cambiar el color, tamaño y borde del handle */
.p-slider .p-slider-handle {
  background-color: #ffffff;  /* Color de fondo */
  border: 1px solid #d7d7d7;  /* Borde */
  width: 20px;                /* Tamaño horizontal */
  height: 20px;               /* Tamaño vertical */
  margin-top: -10px;           /* Alinear verticalmente */
  border-radius: 50%;         /* Hacerlo circular */
  transition: transform 0.2s;
}

.p-slider .p-slider-handle:hover {
  transform: scale(1.2);      /* Efecto al pasar el mouse */
  cursor: pointer;
}

@-webkit-keyframes bounce-slow {
  0%, 100% { -webkit-transform: translateY(0);}
  50% { -webkit-transform: translateY(-30px);}
}
@keyframes bounce-slow {
  0%, 100% { transform: translateY(0);}
  50% { transform: translateY(-30px);}
}
@-webkit-keyframes bounce-slow-reverse {
  0%, 100% { -webkit-transform: translateY(0);}
  50% { -webkit-transform: translateY(30px);}
}
@keyframes bounce-slow-reverse {
  0%, 100% { transform: translateY(0);}
  50% { transform: translateY(30px);}
}
.animate-bounce-slow {
  -webkit-animation: bounce-slow 2s infinite;
  animation: bounce-slow 2s infinite;
}
.animate-bounce-slow-reverse {
  -webkit-animation: bounce-slow-reverse 2s infinite;
  animation: bounce-slow-reverse 2s infinite;
}
